.course-item{
    margin-bottom:12px;
}

.status-green{
    color:green;
    font-weight:bold;
}

.status-orange{
    color:orange;
    font-weight:bold;
}

.status-red{
    color:red;
    font-weight:bold;
}